* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: rgb(236,236,236);
	margin: 0;
	padding: 0 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

aside h1 {
	font-size: 4rem;
	font-weight: 100;
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1rem 0;
	color: rgb(81,150,221);
	letter-spacing: 2px;
}

aside h1 a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 56rem;
	margin: 0 auto;
	height: 100%;
}

aside {
	display: inline-block;
	width: 36%;
	margin-right: 4%;
	vertical-align: top;
}

header {

}

.tweets {
	vertical-align: top;
	display: inline-block;
	background: white;
	width: 59%;
	height: 100%;
	overflow: scroll;
	padding: 0;
}

.tweet {
	padding: 2.5rem 2rem 2rem;
	font-size: 1.2rem;
	font-weight: 300;
	border-bottom: 1px solid rgb(236,236,236);
	color: rgb(140,140,140);
	position: relative;
	line-height: 150%;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.tweet.hidden {
	-webkit-transform: scale(1,0);
	position: absolute;
}

.tweet h3 {
	margin: 0;
	font-size: 1.2rem;
	color: black;
}

.tweet h3 a, .tweet h3 a:visited{
	color: black;
	text-decoration: none;
}

.time {
	position: absolute;
	top: 0.5rem;
	left: 2rem;
	font-size: 0.6rem;
	color: rgb(81,150,221);
}

.hashtag {
	color: rgb(81,150,221);
}

@media screen and (max-width: 40rem) {
	html, body {
		height: auto;
		max-height: none;
	}
	body:after {
		content: "mobile";
		display: none;
	}
	aside {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: white;
		background: rgba(255,255,255,0.9);
		z-index: 99;
	}
	aside h1 {
		font-size: 1rem;
		padding-left: 1rem;
	}
	.tweets {
		height: auto;
		width: 100%;
		overflow: visible;
		margin-top: 4rem;
	}
}